.demo-card-container {
  display: flex;
  flex-flow: column nowrap;

  md-card {
    margin: 0 16px 16px 0;
    max-width: 350px;
    width: 100%;
  }

  img {
    background-color: gray;
  }
}

.demo-card-blue {
  background-color: #B0BECC;

  md-card-actions {
    display: flex;
    flex-direction: column;
  }
}
