<h2>Recent Polls</h2>
<div class="demo-card-container">
  <md-card *ngFor="let poll of polls" [class.selected]="poll === selectedPoll" (click)="onSelect(poll)">
    <md-card-title-group>
      <md-card-title><span class="badge">{{poll.id}}</span> {{poll.title}}</md-card-title>
      <md-card-subtitle>{{poll.question}}</md-card-subtitle>
      <img md-card-md-image src="app/assets/angular2.png">
    </md-card-title-group>
    <ul class="alternatives">
      <li *ngFor="let alt of poll.alternatives; let i=index">
        {{i + 1}}. {{alt.text}} <span class="votes">{{alt.votes.length}} votes</span>
      </li>
    </ul>
    <base-chart class="chart"
            [data]="poll.alternativeVotes"
            [labels]="poll.labels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </base-chart>
  </md-card>
</div>
<div *ngIf="selectedPoll">
  <h2>
        {{selectedPoll.title | uppercase}} is my favourite
    </h2>
  <button (click)="gotoDetail()">View Poll Details</button>
</div>